.footer {
  background: var(--primary-color);
  color: var(--text-light);
  padding: 1rem 0;
  text-align: center;

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .social {
    margin-top: 0.5rem;
    a {
      margin: 0 0.5rem;
      font-weight: 600;
      color: var(--text-light);
      transition: color 0.3s;
      &:hover {
        color: var(--accent-color);
      }
    }
  }
}
